
<div class="container">
  <div>
    <button mat-flat-button color="primary" (click)="openVerticallyCentered(content)">Add User</button>
    </div>
</div>
<ng-template #content>
  <div class="modal-head modal-header">
    <h4 class="modal-title pull-left">Add User</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p id='RequiredLabel'>* Required</p>
      <form name="form"  (ngSubmit)="modalForm.form.valid && saveJob()" #modalForm="ngForm" novalidate>
       <div class="form-group">
           <label class="required">Enter Your Name</label>
          <div for="name" class="half-width-container">
          <input 
            type="text" 
            class="form-control half-width right-margin" 
            name="firstname" 
            [(ngModel)]="jobtitle.firstname" 
            #name="ngModel" 
            [ngClass]="{ 'is-invalid': modalForm.submitted && name.invalid }" 
            placeholder="First Name"
            required />
            <input 
            type="text"            
            class="form-control half-width right-margin" 
            name="Lastname" 
            [(ngModel)]="jobtitle.Lastname" 
            #name="ngModel" 
            [ngClass]="{ 'is-invalid': modalForm.submitted && name.invalid }" 
            placeholder="Last Name"
            required />
          <div *ngIf="modalForm.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors.required">Firstname and Lastname is required.</div>
          </div>
      </div>
        </div>

        <div class="form-group">
          <label for="emailid" class="required">Email Id</label>
          <input 
            type="email" 
            value="jobtitle.emailid" 
            class="form-control" 
            name="emailid" 
            [(ngModel)]="jobtitle.emailid" 
            placeholder="Enter Email Id"
            #emailid="ngModel"
            [ngClass]="{ 'is-invalid': modalForm.submitted && emailid.invalid }"
            pattern="[a-zA-Z0-9_.+-,;]+@(?:(?:[a-zA-Z0-9-]+\.,;)?[a-zA-Z]+\.,;)?(gmail)\.com" 
            
            required />
          <div *ngIf="modalForm.submitted && emailid.invalid" class="invalid-feedback">
              <div *ngIf="emailid.errors.required">Email Id is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="dob" class="required">DOB</label>
          <input 
            type="date"
            
            class="form-control" 
            name="dob" 
            [(ngModel)]="jobtitle.dob" 
            #dob="ngModel" 
            [ngClass]="{ 'is-invalid': modalForm.submitted && dob.invalid }" 
            required />
            
           
          <div *ngIf="modalForm.submitted && dob.invalid" class="invalid-feedback">
              <div *ngIf="dob.errors.required">DOB is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="address" class="required">Enter Your Address</label>
          
            <textarea name="address"
            class="form-control" 
            name="address" 
            [(ngModel)]="jobtitle.address" 
            #address="ngModel" 
            min="1"
            [ngClass]="{ 'is-invalid': modalForm.submitted && address.invalid }" 
            required 
            >Enter text here...</textarea>
          <div *ngIf="modalForm.submitted && address.invalid" class="invalid-feedback">
              <div *ngIf="address.errors.required">Address is required.</div>
          </div>
        </div>

        <input type="hidden" [(ngModel)]="jobtitle.client" value="jobtitle.client" name="client" />
        <div class="form-group">
          <button class="btn btn-primary pull-right">Submit</button>
         
        </div>
      </form>
  </div>
</ng-template>

<ng-template #editcontent>
  <div class="modal-head modal-header">
    <h4 class="modal-title pull-left">Edit User</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p id='RequiredLabel'>* Required</p>
      <form name="form"  (ngSubmit)="modalForm.form.valid && editJob(jobtitle.id)" #modalForm="ngForm" novalidate>
       <div class="form-group">
           <label class="required">Enter Your Name</label>
          <div for="name" class="half-width-container">
          <input 
            type="text" 
            class="form-control half-width right-margin" 
            name="firstname" 
            [(ngModel)]="jobtitle.firstname" 
            #name="ngModel" 
            [ngClass]="{ 'is-invalid': modalForm.submitted && name.invalid }" 
            placeholder="First Name"
            required />
            <input 
            type="text"            
            class="form-control half-width right-margin" 
            name="Lastname" 
            [(ngModel)]="jobtitle.Lastname" 
            #name="ngModel" 
            [ngClass]="{ 'is-invalid': modalForm.submitted && name.invalid }" 
            placeholder="Last Name"
            required />
          <div *ngIf="modalForm.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors.required">Firstname and Lastname is required.</div>
          </div>
      </div>
        </div>

        <div class="form-group">
          <label for="emailid" class="required">Email Id</label>
          <input 
            type="email" 
            value="jobtitle.emailid" 
            class="form-control" 
            name="emailid" 
            [(ngModel)]="jobtitle.emailid" 
            placeholder="Enter Email Id"
            #emailid="ngModel"
            [ngClass]="{ 'is-invalid': modalForm.submitted && emailid.invalid }"
            pattern="[a-zA-Z0-9_.+-,;]+@(?:(?:[a-zA-Z0-9-]+\.,;)?[a-zA-Z]+\.,;)?(gmail)\.com" 
            
            required />
          <div *ngIf="modalForm.submitted && emailid.invalid" class="invalid-feedback">
              <div *ngIf="emailid.errors.required">Email Id is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="dob" class="required">DOB</label>
          <input 
            type="date"
            
            class="form-control" 
            name="dob" 
            [(ngModel)]="jobtitle.dob" 
            #dob="ngModel" 
            [ngClass]="{ 'is-invalid': modalForm.submitted && dob.invalid }" 
            required />
            
           
          <div *ngIf="modalForm.submitted && dob.invalid" class="invalid-feedback">
              <div *ngIf="dob.errors.required">DOB is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="address" class="required">Enter Your Address</label>
          
            <textarea name="address"
            class="form-control" 
            name="address" 
            [(ngModel)]="jobtitle.address" 
            #address="ngModel" 
            min="1"
            [ngClass]="{ 'is-invalid': modalForm.submitted && address.invalid }" 
            required 
            >Enter text here...</textarea>
          <div *ngIf="modalForm.submitted && address.invalid" class="invalid-feedback">
              <div *ngIf="address.errors.required">Address is required.</div>
          </div>
        </div>

        <input type="hidden" [(ngModel)]="jobtitle.id" value="jobtitle.id" name="id" />
        <div class="form-group">
          <button class="btn btn-primary pull-right">Submit</button>
         
        </div>
      </form>
  </div>
</ng-template>

<div class="example-container mat-elevation-z8 container">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="Firstname">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="Lastname">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Lastname}} </td>
      </ng-container>
  
    
      <ng-container matColumnDef="emailid">
        <th mat-header-cell *matHeaderCellDef> Email Id </th>
        <td mat-cell *matCellDef="let element"> {{element.emailid}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef> DOB </th>
        <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element; let i=index;">
          <button mat-icon-button color="accent" (click)="editjobs(editcontent,element.firstname, element.Lastname, element.emailid, element.dob, element.address,element.id)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
  
          <button mat-icon-button color="accent" (click)="deleteItem(element.id)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
